.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  /* color: #61dafb; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainimg{
  width: 1400px;
  height: 600px;
  margin : 50px 4%;
  /* background-image: url(./pixelcut-export.jpeg); */
  background-image: url(./photo_2024-11-10_16-27-31.jpeg);
  /* animation: minimg ease-in-out 0.5 normal infinite ;
  */
  animation-name: minimg;
  animation-iteration-count: infinite;
  /* animation-delay: 1s; */
  animation-duration: 15s;
  /* animation-timing-function:ease; */
  background-size:cover;
  background-repeat: no-repeat;
  
}
.main{
  /* background-color: #61dafb; */
}
.mainbtnact{
  width: 100px;
  height: 10px;
  /* animation-composition:inherit; */
  /* background-color: #cb3b1b; */
  border-radius: 10px;
}
@keyframes minimg{
  0%{
    background-image: url(./photo_2024-11-10_16-27-48.jpeg);
    /* animation-composition:inherit; */
    /* background-image: url(./pixelcut-export\(1\).jpeg); */
    /* transition:all  0.15s ease; */
    background-size: cover;
    
  }
  40%{
    background-image: url(./photo_2024-11-10_16-28-10.jpeg);
    /* background-image: url(./back13.jpeg); */
    /* transition:all  0.15s ease; */
    background-size: cover;
    
  }
  60%{
    /* background-image: url(./back14.jpeg); */
    background-image: url(./photo_2024-11-10_16-28-14.jpeg);
    /* transition:all  0.15s ease; */
    background-size: cover;
    
  }
  80%{
    background-image: url(./photo_2024-11-10_16-28-17.jpeg);
    background-size: cover;
    
  }
}
.mnalbtn{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  animation: mnallbtn 2s forwards 1s infinite  ;
  
  
}
@keyframes mnallbtn {
  0%{
    .mainbtnact{
      background-color: black;
    }
    background-color: #282c34;
  }
  100%{
    background-color: aquamarine;
  }
  
}
.mainbtn{
  width: 30px;
  height: 10px;
}
.mnimgall{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(auto,1fr);
  gap: 0;
  /* grid-template-rows: 1fr 1fr 1fr; */

}
.mnimg{
  width: 90%;
  height: 80%;
  /* background-color: #282c34; */
  /* background-image: url(./back1.jpg); */
  /* border: solid 2px black; */

  /* margin: 25px; */
}
.mnimg1{
  width: 1400px;
  height: 500px;
}
.header1{
  /* background-color: #282c34; */
}
.nl{
  /* color: #282c34; */
}
.p{
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  /* background-color: #BC723B; */
  color: #111110;
  margin-top: 5%;
  width:27%;
  height: 5%;
  font-size: xx-large;
  /* background-color:#111110; */
  /* top: 10%; */
  /* width: 90%; */
  /* height: 20px; */
  /* margin-top: 15%; */
  /* padding-bottom: 2%; */
  /* text-align: center; */
  /* top: 85%; */
  /* visibility: hidden; */
  /* opacity: 0.4; */
  /*bottom: 0;
  left: 0;
  right: 0; */
  /* bottom: 10px; */
  /* top: 135%; */
  /* width: 19%; */
}
.hoverimg:hover .bottom{
  /* visibility: visible; */
  /* background-color: #282c34; */
  /* background-image: url(./back1.jpg); */
  width: 20%;
  /* visibility: visible; */
  /* opacity: 1; */
  background-color: #282c34;
  visibility: visible;
}
.hoverimg:hover .mnimg{
  /* visibility: hidden; */
  /* opacity: 0.1;/ */
  
}
.hoverimg:hover imgmn{
  border: solid 2px black;


}
.bottom{
  /* opacity: 0.3; */
  /* visibility: hidden; */
}
.text{
  position: absolute;
  background-color: #282c34;
  width: 80%;
  top: 10%;
  text-align: center;
}
.bottom button{
  background-color: #282c34;
  position: absolute;
  top: 10px;
}
.imgmn{
    width: 90%;
      height: 100%;
}
mnimg:hover{
  /* visibility: hidden; */
}
.mnimg:hover , .bottom:hover + .imgmn .mnimg{
  visibility: hidden;
}
.imgmn:hover ,.bottom:hover+.imgmn{
  width: 80%;
    height: 80%;
  border: #111110 solid 2px;

}
.bottom:hover>.imgmn{
  background-color: aquamarine;
}
.imgmn:hover .mnimg{
  visibility: hidden;
}
.bottom{
  visibility: hidden;
}
.bottom:has(+ div img){
  background-color: #111110;

}
.alevnt{
  font-size: 50px;
  /* background-color: #111110; */
  text-align: center;
}
.bottom{
  background-color: #111110;
}
